#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.postsSection{
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  background-color: #797979;
  justify-content: space-between;
  margin: 10px 10px 0px 0px;
  padding: 10px;
}











@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
